<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
>
    <testsuites>
    	<testsuite name="PVOTests">
	        <directory>tests</directory>
	</testsuite>
	<testsuite name="PVOPassword">
		<file>tests/BcryptPasswordTest</file>
		<file>tests/Sha1PasswordTest</file>
	</testsuite>
    </testsuites>
</phpunit>
